@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    font-family:"Poppins", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
   scroll-behavior: smooth;
   
}
nav {
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    background-color: black;
    align-items: center;
 
}
.logo {
    font-size: 30px;
    color: white;
    font-family: "poppins" sans-serif;
    font-weight: bold ;
    text-decoration: none;
    transition-property: Color , fontsize;
    transition-duration: .5s;

}
.logo:hover {
    color: #00009E;
    font-size: 35px;
    
}

.nav {
    text-decoration: none;
    color: white;

    font-family: "poppins" sans-serif;
    font-weight: bold;
    margin-right: 20px;
    font-size: 20px;
    padding-inline-start: 10px;
    padding-right: 10px;
    text-align: center;
    transition-property: border-color , Color ;
    transition-duration: .5s;
    
}
.nav:hover {
        border-radius: 20px;
        border: 4px solid #00009E;
        color: #00009E;



}
.skip{
    margin: 0;
    color: red;
    text-decoration: none;
    position:absolute;
    left: 30%;
    top: 10px   ;
    opacity: 0;
    transition-property:color, opacity ;
    transition-duration: 1s;
}
.skip:focus {
color: white;
opacity: 100%;

}



.image {
    width: 534px;
    height: 400px;
}
img{
    HEIGHT: 450px;
    width: 500px;
    padding-left: 90px;
    padding-right: 90px;
    padding-top: 0;
    opacity: .5;
    transition-property: Opacity;
    transition-duration: .5s;
}
img:hover{
    opacity: 100;
}

h2 {
    font-size: 60px;
    font-weight: bolder;
}
span{
    text-decoration: wavy;
    color: white;

    border: solid 2px black;
    background-color: black;
}
p{
    text-align: justify;
    margin-right: 20px;

}
img{
    box-sizing: border-box;
    width: 100%;
    height: auto;
}
.text {
    position: relative;
    top: 137px;
    left: 20px;
    bottom: 50px;
    margin-left: 20px;
    margin-right: 20px;
    border-radius: 20px;
}
.footer {
    background-color:black;
    width: auto;
    height: 50px    ;
    position: relative;
    top: 30px;

}
.footer_paragraph {
    text-align: center;
    color: WHITE;
}
.title {
    position: relative;
    font-size: 33px;
    font-weight: 700;
    left: 30%;
    top: 20px;
    right: 41%;
}
.contact_title{
position: relative;
    left: 40%;
    top: 20px;
    right: 41%;
}
.skills_section{
    display: grid;
    grid-template-columns: auto;
    justify-content: space-between;
    position: relative;
}





.video_editing_card {
    background-color: #b4afd2;
    padding: 20px;
    margin: 20px;
}
.skills_images:nth-child(){
    border: 3px black solid;
}
.skip_up {
    text-decoration: none;
    padding: 0 20px;
    left: 50%;
    position: relative;
    top: 50px;
    FONT-SIZE: 128%;
    
}
.ski:visited{
    text-decoration: none;
}

.ux_ui_card {
    background-color: #d8d5ff;
    padding: 20px;
    margin: 20px;
}
.web_developement_card {
        background-color:#ddffe2;
    padding: 20px;
    margin: 20px;
}
div:nth-child(2n+1) img {
    border: 2px solid black;
    border-radius: 20px;
}
.img_skills{
    width: auto;
    height: 200px;
    position: relative;
    left: 30%;
}
.text_card {
    font-size: 30px;
    text-align: center;
}
.Skills_type{
    position: relative;
    text-align: Center;

}
.skills_description{
    text-align: center;
    position: relative;
padding: 0px 182px;
}
p{
    word-spacing: 0;
}
.Contact_section {
    box-sizing: border-box;
    display: grid;
    position: relative;
    top: 25px;
    grid-template-columns: auto auto auto;
    justify-content: space-between;
    height: 68vh;
    align-items: center;
    padding: 0 20px ;
}

.contact_link{
    background-color: #007AB9;
    text-decoration: NONE;
    color: white;
    font-size: 20px;
    position: relative;
    left: 107px;
    border: #6db6dc solid 1.5px;
    border-radius: 11px;
    transition-property: color, border-color;
    transition-duration: 1s;
}
.contact_link:hover {
    border-color: #00009E;
}
.linkedin_card {
    background-color: #daf2ff ;
    box-shadow: 5px 5px 5px #0000001c;
    border-radius: 20px;
    margin: 0 20px;
}
.email_card {
    background-color:#daf2ff ;
    box-shadow: 5px 5px 5px #0000001c;
    border-radius: 20px;
    margin: 0 20px;


}
.whatsapp_card {
    background-color:#daf2ff ;
    box-shadow: 5px 5px 5px #0000001c;
    border-radius: 20px;

    margin: 10px  20px 0 20px;

}
.linkedin {
    box-sizing: border-box;
    padding: 5px;
}
.email {
    box-sizing: border-box;
    padding: 5px;
}
.whatsapp {
    box-sizing: border-box;
    padding: 5px;
}
.main_section{
    DISPLAY: GRID;
    GRID-TEMPLATE-COLUMNS: 50% 50%;
}
.myimage {
    padding: 20px;
    box-shadow: 10px 10px 10px #00000036;
}
.my_own_image {
    padding-top: 20px;
}
